

.form-container{
    display: flex;
    /* background-color:black; */

}


.profile-image{
    max-width: 50px;
    border-radius:20%;
}
.form-control{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding:5px 40px;

}
.form-input-wrap{
    display: flex;
    flex-direction: column;
}

.form-input-wrap >*{
    margin:10px 0;
}
.form-input{
    padding:10px 15px;
}
.auth-form-image-container{
    /* background-color: black; */
    /* flex: .; */
    /* width: 400px; */
    
}
.form-side-image{
    /* height:100vh; */
    max-width:800px;
    width: 100%;
    /* height: 98vh; */
}







body.swal2-shown > [aria-hidden="true"] {
    transition: 0.1s filter;
    filter: blur(10px);
  }